/*  Main   */
.main-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
    /* flex-direction: column; */
    /* width: 50%; */
  }
  .main-container article {
    display: flex;

/* vremenno!!!!! */
    width: 30%;

  }

  .about {
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }


.main-buttons {

}

.more-btn, .app-btn {
  padding: 10px 30px;
  border: none;
  color: var(--main-text-color);
  border-radius: 4px;
  font-size: 1rem;
  margin: 10px;
  font-weight: bold;
}
.more-btn {
background-color: var(--learn-more-btn);
}
.app-btn {
background-color: var(--get-the-app);
}


  
.phones {
 
  
}
  .img1 {
    position: relative;
    top: 0;
    right: 0;
    width: 14vw;
    z-index: 0;
  }
  .img2 {
    position: absolute;
    top: 10px;
    right: 125px;
    z-index: 1;
    width: 14vw;
  }