/*  Main   */
main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about {
  color: var(--main-text-color);
  padding: 100px 0px;
  flex-basis: 60%;
}

.main-intro {
  margin: 50px auto;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.more-btn,
.app-btn {
  padding: 10px 30px;
  border: none;
  color: var(--main-text-color);
  border-radius: 4px;
  font-size: 1rem;
  margin: 10px;
  font-weight: bold;
}
.more-btn {
  background-color: var(--learn-more-btn);
}
.app-btn {
  background-color: var(--get-the-app);
}

#phones {
  width: 40vw;
  height: 50vh;
  position: relative;
}
.img1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 14vw;
}
.img2 {
  position: absolute;
  top: 20px;
  right: 120px;
  z-index: 1;
  width: 14vw;
}