/* Menu */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav {
  flex-grow: 2;
}
header nav ul {
  display: flex;
  justify-content: space-around;
}
header nav ul li {
  display: inline;
  list-style: none;
}
  